/* style.css*/

* {
    box-sizing: border-box;
}

nav {
    border-bottom: 1px solid #e5e1e1;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 48px;
    background: white;
}


body {
    font-family: "Open Sans","lucida grande","Segoe UI",arial,verdana,"lucida sans unicode",tahoma,sans-serif;
}

#logo {
    height: 48px;
}

#watermark {
    width: 105px;
    margin-bottom: 4px;
}

#signUp {
    font-size: 17px;
    padding: 12px;
    float: right;
}

main {
    display: block;
    margin-top: 98px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 80px;
    width: 350px;
}

header {
    margin-bottom: 15px;
}

#login {
    font-size: 20px;
    color: #1e1919;
    display: inline-block;
}

#create {
    font-size: 14px;
    float: right;
}

table {
    margin-bottom: 22px;
}

td {
    border: 1px solid #cac5be;
    width: 350px;
    color: #1e1919;
    text-align: center;
    padding: 11px;
}

.loginIcon {
    width: 20px;
    border: 1px solid red;
    float: left;
}

.loginName {
    font-size: 14px;
}

#or {
    text-align: center;
}

#label {
    font-size: 12px;
    color: #524a3ed1;
}

#email {
    width: 350px;
    height: 48px;
    background: #ffffff;
    margin: 8px 0 0;
    padding: 16px;
    border: 1px solid #958c7e;
}

#continue {
    margin: 24px 0 0;
    padding: 16px 24px;
    width: 350px;
    font-size: 16px;
    color: #F7F5F2;
    background: #0061fe;
}

footer {
    background: #000000;
    color: #F7F5F2;
    padding: 46px 0 0;
}

footer section {
    display: inline-block;
    vertical-align: top;
    width: 224px;
}

h3 {
    font-size: 20px;
    margin: 50px 0 30px 30px;
}

footer section p {
    font-size: 14px;
    margin: 18px 0 0 30px;
}